<li class="directory-item folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}" data-folder-id="{{folder.id}}"
	data-uuid={{folder.uuid}} data-folder-depth="{{node.depth}}">
	<header class="folder-header flexrow" {{#if folder.color}}style="background-color: {{folder.color}}" {{/if}}>
		<h3 class="noborder"><i class="fas fa-folder-open fa-fw"></i>{{folder.name}}</h3>
		{{#if @root.canCreateFolder}}
			<a class="create-button create-folder">
				<i class="{{@root.folderIcon}}"></i>
				<i class="fas fa-plus"></i>
			</a>
		{{/if}}
		{{#if @root.canCreateEntry}}
			{{#if @root.isMetaCreationAllowed}}
				<a class="create-button create-entry">
					<i class="{{@root.sidebarIcon}}"></i>
					<i class="fas fa-plus"></i>
				</a>
			{{else}}
				{{#if (eq tab "items")}}
				<!-- adding a non functional class here breaks the ui - had to keep create-button class for the icon to show up properly-->
					<a class="create-button" data-tooltip="Creating {{tab}} requires the Metanthropes Homebrew Module">
						<i class="{{@root.sidebarIcon}}"></i>
						<i class="fas fa-plus"></i>
					</a>
				{{else}}
					<a class="create-button" data-tooltip="Creating {{tab}} requires the Metanthropes Core Module">
						<i class="{{@root.sidebarIcon}}"></i>
						<i class="fas fa-plus"></i>
					</a>
				{{/if}}
			{{/if}}
		{{/if}}
	</header>
	<ol class="subdirectory" {{#if folder.color}}style="border-left-color: {{folder.color}}" {{/if}}>
		{{~#each node.children}}
			{{> "systems/metanthropes/templates/sidebar/folder-partial.hbs" tab=(lookup @root "tabName") node=this folder=this.folder}}
		{{/each}}
		{{#each node.entries}}
			{{> (lookup @root "entryPartial")}}
			{{/each~}}
	</ol>
</li>