<ol class="items-list">
	{{#each Actions as |Actions Action|}}
		<details open>
			<summary>
				<li class="item-list flexrow items-header">
					<div class="item-name"
						data-tooltip="Action Slot: Which part of my turn does it take to activate this Metapower or use this Possession">
						<i class="fa-sharp-duotone fa-solid fa-stopwatch"></i>: {{Action}}
					</div>
					<div class="item-statroll meta-ui-responsive meta-ui-hide-at-minimum"
						data-tooltip="Stat Rolled to activate this Action"><i
							class="fa-sharp-duotone fa-solid fa-dice-d10"></i></div>
					<div class="item-targets meta-ui-responsive meta-ui-hide-at-medium"
						data-tooltip="The Number of Targets of this Action"><i
							class="fa-sharp-duotone fa-solid fa-crosshairs-simple"></i></div>
					<div class="item-duration meta-ui-responsive meta-ui-hide-at-medium"
						data-tooltip="The Duration of this Action"><i
							class="fa-sharp-duotone fa-solid fa-hourglass-start"></i></div>
					<div class="item-range meta-ui-responsive meta-ui-extra-fields"
						data-tooltip="The Range of this Action">
						<i class="fa-sharp-duotone fa-solid fa-ruler"></i>
					</div>
					<div class="item-area meta-ui-responsive meta-ui-extra-fields"
						data-tooltip="The Area of Effect Range of this Action"><i
							class="fa-sharp-duotone fa-solid fa-hexagon-image"></i></div>
					{{#if ../isNarrator}}
						<div class="item-controls meta-ui-responsive meta-ui-hide-at-medium"><i
								class="fa-sharp-duotone fa-gears"></i>
						</div>
					{{/if}}
				</li>
			</summary>
			{{#each Actions as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-name flexrow">
						<div class="item-image">
							{{#if (eq item.type "Metapower")}}
								<img class="style-mp-rolls" data-roll-type="Metapower" data-item-name="{{item.name}}"
									data-stat="{{item.system.Execution.StatRolled.value}}"
									data-destiny-cost="{{item.system.DestinyCost.value}}" src="{{item.img}}"
									data-tooltip='Click to Activate, {{item.system.Execution.ActionSlot.value}}<br><br>{{item.system.MetapowerName.value}} <i class="fa-sharp-duotone fa-solid fa-layer-group"></i>{{item.system.Level.value}} : {{item.name}}
								{{#if isFocusedAction}}<br><i class="fa-sharp-duotone fa-solid fa-stopwatch"></i>: {{item.system.Execution.ActionSlot.value}}{{/if}}
								{{#if (not (eq item.system.Effects.VSStatRoll.value "None"))}}<br><i class="fa-sharp-duotone fa-solid fa-swords"></i>: {{item.system.Effects.VSStatRoll.value}}{{/if}}
								{{#if (gt item.system.DestinyCost.value 0)}}<br><i class="fa-sharp-duotone fa-solid fa-hand-fingers-crossed"></i>: {{item.system.DestinyCost.value}}{{/if}}
								<br><br>Right Click for Custom Roll
							{{#if ../../affectedByDisease}}<br><br>Result will be affected by <i class="fa-sharp-duotone fa-solid fa-skull"></i> Disease{{/if}}
							{{#if ../../affectedByPain}}<br>Result will be affected by <i class="fa-sharp-duotone fa-solid fa-skull"></i> Pain{{/if}}
							{{#if ../../affectedByHunger}}<br>Need to overcome <i class="fa-sharp-duotone fa-solid fa-skull"></i> Hunger{{/if}}'
									width="50" height="50" style="border: none" />
							{{/if}}
							{{#if (eq item.type "Possession")}}
								<img class="style-pos-rolls" data-roll-type="Possession"
									data-stat="{{item.system.Execution.StatRolled.value}}"
									data-item-name="{{item.name}}" src="{{item.img}}"
									data-tooltip='Click to Use, {{item.system.Execution.ActionSlot.value}}<br><br>{{item.name}}
								{{#if isFocusedAction}}<br><i class="fa-sharp-duotone fa-solid fa-stopwatch"></i>: {{item.system.Execution.ActionSlot.value}}{{/if}}
								<br><br>Right-Click for Custom Roll
							{{#if ../../affectedByDisease}}<br><br>Result will be affected by <i class="fa-sharp-duotone fa-solid fa-skull"></i> Disease{{/if}}
							{{#if ../../affectedByPain}}<br>Result will be affected by <i class="fa-sharp-duotone fa-solid fa-skull"></i> Pain{{/if}}
							{{#if ../../affectedByHunger}}<br>Need to overcome <i class="fa-sharp-duotone fa-solid fa-skull"></i> Hunger{{/if}}' width="50" height="50"
									style="border: none" />
							{{/if}}
						</div>
						<h4>
							<div class="item-control item-edit style-view-properties"
								data-tooltip-html="Click here to open {{item.name}}.<br><br>Click on the icon to roll.">
								{{{item.name}}}
							</div>
						</h4>
					</div>
					<div class="item-statroll item-prop meta-ui-responsive meta-ui-hide-at-minimum">
						<span
							class="meta-ui-responsive meta-ui-hide-at-medium">{{item.system.Execution.StatRolled.value}}:
						</span>
						{{lookup ../../actor.system.RollStats item.system.Execution.StatRolled.value}}
					</div>
					<div class="item-targets item-prop meta-ui-responsive meta-ui-hide-at-medium">
						{{item.system.Execution.Targets.value}}
					</div>
					<div class="item-duration item-prop meta-ui-responsive meta-ui-hide-at-medium">
						{{item.system.Execution.Duration.value}}
					</div>
					<div class="item-range item-prop meta-ui-responsive meta-ui-extra-fields">
						{{item.system.Execution.Range.value}}
					</div>
					<div class="item-area item-prop meta-ui-responsive meta-ui-extra-fields">
						{{item.system.Execution.AreaEffect.value}}
					</div>
					{{#if ../../isNarrator}}
						<div class="item-controls meta-ui-responsive meta-ui-hide-at-medium">
							<a class="item-control item-delete" data-tooltip="Remove Metapower"><i
									class="fa-sharp-duotone fa-trash"></i></a>
						</div>
					{{/if}}
				</li>
			{{/each}}
		</details>
	{{/each}}
</ol>