<div class="summary">
	<div class="flexrow">
		<div class="layout-container-summary style-container-summary">
			<div>Prime Ⓜ️ Metapower: {{system.entermeta.primemetapower.value}}
			</div>
			<div>Metamorphosis: {{system.entermeta.metamorphosis.value}}
			</div>
			<div>Background: {{system.Vital.background.value}}
			</div>
			<div>Arc: {{system.Vital.arc.value}}
			</div>
			<div>Regression: {{system.entermeta.regression.value}}
			</div>
		</div>
		<div class="layout-container-summary style-container-summary">
			<div>Gender: {{system.humanoids.gender.value}}
			</div>
			<div>Age: {{system.Vital.age.value}} yr
			</div>
			<div>Height: {{system.humanoids.height.value}} m
			</div>
			<div>Weight: {{system.humanoids.weight.value}} kg
			</div>
			<div>Place of Birth: {{system.humanoids.birthplace.value}}
			</div>
		</div>
		<div class="layout-container-summary style-container-summary">
			<div>Narrator: {{system.entermeta.narrator.value}}
			</div>
			<div>Saga: {{system.entermeta.sagas.value}}
			</div>
			<div>Sessions Played: {{system.entermeta.sessions.value}}
			</div>
			<div>Coalition: {{system.entermeta.coalition.value}}
			</div>
			<div>Faction: {{system.entermeta.faction.value}}
			</div>
		</div>
	</div>
</div>