<ol class="items-list">
	{{#each Possessions as |Possessions Category|}}
		<details open>
			<summary>
				<li class="item-list flexrow items-header">
					<div class="item-name" data-tooltip="The Category of this Possession">{{Category}}</div>
					<div class="item-attacktype meta-ui-responsive meta-ui-hide-at-medium"
						data-tooltip="The type of Attack of this Possession">Attack Type</div>
					<div class="item-statroll meta-ui-responsive meta-ui-hide-at-minimum"
						data-tooltip="The Stat Rolled to use this Possession"><i class="fa-sharp-duotone fa-solid fa-dice-d10"></i></div>
					<div class="item-actionslot meta-ui-responsive meta-ui-hide-at-minimum"
						data-tooltip="Which part of my turn does it take to use this Possession"><i class="fa-sharp-duotone fa-solid fa-stopwatch"></i></div>
					<div class="item-targets meta-ui-responsive meta-ui-hide-at-medium"
						data-tooltip="The Number of Targets of this Possession"><i class="fa-sharp-duotone fa-solid fa-crosshairs-simple"></i></div>
					<div class="item-duration meta-ui-responsive meta-ui-hide-at-medium"
						data-tooltip="The Duration of this Possession"><i class="fa-sharp-duotone fa-solid fa-hourglass-start"></i></div>
					<div class="item-range meta-ui-responsive meta-ui-extra-fields"
						data-tooltip="The Range of this Possession"><i class="fa-sharp-duotone fa-solid fa-ruler"></i></div>
					<div class="item-area meta-ui-responsive meta-ui-extra-fields"
						data-tooltip="The Area of Effect Range of this Possession"><i class="fa-sharp-duotone fa-solid fa-hexagon-image"></i></div>
					{{#if ../isNarrator}}
						<div class="item-controls meta-ui-responsive meta-ui-hide-at-medium"><i
								class="fa-sharp-duotone fa-solid fa-gears"></i></div>
					{{/if}}
				</li>
			</summary>
			{{#each Possessions as |item id|}}
				<li class="item flexrow" data-item-id="{{item._id}}">
					<div class="item-name flexrow">
						<div class="item-image">
							<img class="style-pos-rolls" data-roll-type="Possession"
								data-stat="{{item.system.Execution.StatRolled.value}}" data-item-name="{{item.name}}"
								src="{{item.img}}" data-tooltip="Click to Use<br><br>{{item.name}}<br><br>Right-Click for Custom Roll
							{{#if ../../affectedByDisease}}<br><br>Result will be affected by <i class='fa-sharp-duotone fa-solid fa-skull'></i> Disease{{/if}}
							{{#if ../../affectedByPain}}<br>Result will be affected by <i class='fa-sharp-duotone fa-solid fa-skull'></i> Pain{{/if}}
							{{#if ../../affectedByHunger}}<br>Need to overcome <i class='fa-sharp-duotone fa-solid fa-skull'></i> Hunger{{/if}}" width="50" height="50"
								style="border: none" />
						</div>
						<h4>
							<div class="item-control item-edit style-view-properties"
								data-tooltip="Click to open {{item.name}}<br><br>Effect: {{stripHtml item.system.Effects.EffectDescription.value}}">
								{{{item.name}}}
							</div>
						</h4>
					</div>
					<div class="item-attacktype item-prop meta-ui-responsive meta-ui-hide-at-medium">
						{{item.system.AttackType.value}}
					</div>
					<div class="item-statroll item-prop meta-ui-responsive meta-ui-hide-at-minimum">
						<span
							class="meta-ui-responsive meta-ui-hide-at-medium">{{item.system.Execution.StatRolled.value}}:
						</span>
						{{lookup ../../actor.system.RollStats item.system.Execution.StatRolled.value}}
					</div>
					<div class="item-actionslot item-prop meta-ui-responsive meta-ui-hide-at-minimum">
						{{item.system.Execution.ActionSlot.value}}
					</div>
					<div class="item-targets item-prop meta-ui-responsive meta-ui-hide-at-medium">
						{{item.system.Execution.Targets.value}}
					</div>
					<div class="item-duration item-prop meta-ui-responsive meta-ui-hide-at-medium">
						{{item.system.Execution.Duration.value}}
					</div>
					<div class="item-range item-prop meta-ui-responsive meta-ui-extra-fields">
						{{item.system.Execution.Range.value}}
					</div>
					<div class="item-area item-prop meta-ui-responsive meta-ui-extra-fields">
						{{item.system.Execution.AreaEffect.value}}
					</div>
					{{#if ../../isNarrator}}
						<div class="item-controls meta-ui-responsive meta-ui-hide-at-medium">
							<a class="item-control item-delete" data-tooltip="Delete Possession"><i
									class="fa-sharp-duotone fa-solid fa-trash"></i></a>
						</div>
					{{/if}}
				</li>
			{{/each}}
		</details>
	{{/each}}
</ol>