<!-- I would need to refactor the db to include titles to do this properly -->
<div class="summary">
	<div class="flexrow">
		<div class="layout-container-summary style-container-summary">
			<div title="Each Metanthrope Character begins the game with one level in their first Metapower, called Prime Metapower. No other additional Metapower unlocked can be higher-level than the level of the Prime Metapower. The Classification and the Energy type of the Protagonist's Prime Metapower will influence the Experience cost of unlocking and advancing other Metapowers.">Prime Ⓜ️ Metapower: {{system.entermeta.primemetapower.value}}
			</div>
			<div title="The Metamorphosis is a pivotal moment that defines how, when, why, and under what circumstances your Protagonist crosses the threshold from being a human to becoming a Metanthrope.">Metamorphosis: {{system.entermeta.metamorphosis.value}}
			</div>
			<div title="A Character's Background is who or what that Character used to be prior to becoming a Metanthrope.">Background: {{system.Vital.background.value}}
			</div>
			<div title="Arc represents the fundamental concept, behavioral patterns, goals, daily agenda, and core beliefs of a Metanthrope. It defines how your Protagonist acts in various situations, establishes their hierarchies during conflicts, determines the ideologies they support in dialogues, and guides their use of Metapowers to achieve their objectives. The Arc embodies the archetype your Protagonist represents.">Arc: {{system.Vital.arc.value}}
			</div>
			<div title="Regression is a fundamental aspect of a Metanthrope's existence, representing their connection to their human origins. It encompasses the reversion to human behaviors, quirks, and attachments that persist despite their ascension. Regressions can manifest as unique knacks, idiosyncrasies, nostalgic attachments, or self-imposed restrictions. It is important to recognize that Regression is not considered a weakness, as it can be a source of strength, adding depth, drama, complexity, and inner conflict to a Metanthrope's roleplay. Every Metanthrope possesses a Regression, whether they openly embrace it, keep it hidden, or are unaware of its existence.">Regression: {{system.entermeta.regression.value}}
			</div>
		</div>
		<div class="layout-container-summary style-container-summary">
			<div>Gender: {{system.humanoids.gender.value}}
			</div>
			<div>Age: {{system.Vital.age.value}} yr
			</div>
			<div>Height: {{system.humanoids.height.value}} m
			</div>
			<div>Weight: {{system.humanoids.weight.value}} kg
			</div>
			<div>Place of Birth: {{system.humanoids.birthplace.value}}
			</div>
		</div>
		<div class="layout-container-summary style-container-summary">
			<div>Narrator: {{system.entermeta.narrator.value}}
			</div>
			<div>Saga: {{system.entermeta.sagas.value}}
			</div>
			<div>Sessions Played: {{system.entermeta.sessions.value}}
			</div>
			<div>Coalition: {{system.entermeta.coalition.value}}
			</div>
			<div>Faction: {{system.entermeta.faction.value}}
			</div>
		</div>
	</div>
</div>