<div class="perks">
	<div class="flexrow">
		<div class="knowledge">
			<h3 class="style-labels-text" style="text-align: center;"
				title="Knowledge refers to abilities developed through studying theories, learning thesis and theorems, and performing simulations and experiments">
				Knowledge</h3>
			{{#each system.Perks.Knowledge}}
				<div class="perk-item">
					<label for="system.Perks.Knowledge.{{@key}}.value" title="{{this.title}}"
						class="resource-label">{{this.label}}:</label>
					<select name="system.Perks.Knowledge.{{@key}}.value" id="system.Perks.Knowledge.{{@key}}.value"
						data-dtype="{{this.dtype}}">
						<option value="0" {{selected this.value 0}}>0</option>
						<option value="1" {{selected this.value 1}}>1</option>
						<option value="2" {{selected this.value 2}}>2</option>
						<option value="3" {{selected this.value 3}}>3</option>
						<option value="4" {{selected this.value 4}}>4</option>
						<option value="5" {{selected this.value 5}}>5</option>
					</select>
				</div>
			{{/each}}
		</div>
		<div class="perks-skills flex">
			<h3 class="style-labels-text" style="text-align: center;"
				title="Skills refer to abilities that develop through practical appliance, repetition and practicing them in the field">
				Skills</h3>
			{{#each system.Perks.Skills}}
				<div class="perk-item">
					<label for="system.Perks.Skills.{{@key}}.value" title="{{this.title}}"
						class="resource-label">{{this.label}}:</label>
					<select name="system.Perks.Skills.{{@key}}.value" id="system.Perks.Skills.{{@key}}.value"
						data-dtype="{{this.dtype}}">
						<option value="0" {{selected this.value 0}}>0</option>
						<option value="1" {{selected this.value 1}}>1</option>
						<option value="2" {{selected this.value 2}}>2</option>
						<option value="3" {{selected this.value 3}}>3</option>
						<option value="4" {{selected this.value 4}}>4</option>
						<option value="5" {{selected this.value 5}}>5</option>
					</select>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="perks-extra">
		<div>Starting (Free) Perks: {{system.Perks.Details.Starting.value}}</div>
	</div>
	<div class="perks-extra">
		{{#each system.Perks.Details}}
			{{#unless (eq @key "Starting")}}
				<div>
					<h3>{{this.label}}</h3>
				</div>
				<div class="layout-editor style-editor">
					{{editor this.value target=(concat "system.Perks.Details." @key ".value") button=true editable=true}}
				</div>
			{{/unless}}
		{{/each}}
	</div>
</div>