{{#if isGM}}
<div><h3>{{system.notes-narrator.label}}</h3></div>
<div class="layout-editor style-editor">
	{{editor system.notes-narrator.value target="system.notes-narrator.value" button=true editable=true}}
</div>
{{/if}}
<div><h3>{{system.notes-protagonist.label}}</h3></div>
<div class="layout-editor style-editor">
	{{editor system.notes-protagonist.value target="system.notes-protagonist.value" button=true editable=true}}
</div>
<div><h3>{{system.physical.Description.label}}</h3></div>
<div class="layout-editor style-editor">
	{{editor system.physical.Description.value target="system.physical.Description.value" button=true editable=true}}
</div>
<div><h3>{{system.entermeta.Description.label}}</h3></div>
<div class="layout-editor style-editor">
	{{editor system.entermeta.Description.value target="system.entermeta.Description.value" button=true editable=true}}
</div>