<div class="tab execution" data-group="primary" data-tab="execution">
	{{#each system.Execution}}
		{{#if (or ../isGM (and (not (or (eq this.value null) (eq this.value 0) (eq this.value "None"))) (or (not (isArray this.value)) (and (isArray this.value) (gt this.value.length 0)))))}}
			{{#unless (or (eq @key "StatRolled") (eq @key "AdditionalInfo"))}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					{{#if this.options}}
						{{#if ../isGM}}
							<select name="system.Execution.{{@key}}.value">
								{{#each this.options as |option|}}
									<option value="{{option}}" {{#if (eq option ../this.value)}}selected{{/if}}>
										{{option}}
									</option>
								{{/each}}
							</select>
						{{else}}
							{{this.value}}
						{{/if}}
					{{else if this.selections}}
						{{#if ../isGM}}
							<select multiple name="system.Execution.{{@key}}.value">
								{{selectOptions this.selections selected=this.value}}
							</select>
						{{/if}}
						{{#if (and (isArray this.value) (gt this.value.length 0))}}
							<span class="selected-values">
								{{join this.value ', '}}
							</span>
						{{/if}}
					{{else}}
						<div>
							<input type="{{this.type}}" name="system.Execution.{{@key}}.value" value="{{this.value}}"
								data-dtype="{{this.dtype}}" />
						</div>
					{{/if}}
				</div><br>
			{{/unless}}
		{{/if}}
	{{/each}}
	{{#if (or isGM (and system.Execution.AdditionalInfo.value (not (or (eq system.Execution.AdditionalInfo.value null) (eq system.Execution.AdditionalInfo.value 0) (eq system.Execution.AdditionalInfo.value "None")))))}}
		<div><label class="resource-label">{{system.Execution.AdditionalInfo.label}}:</label></div>
		{{#if isGM}}
			<div class="layout-editor">
				{{editor system.Execution.AdditionalInfo.value target="system.Execution.AdditionalInfo.value" button=true editable=true}}
			</div><br>
		{{else}}
			<div class="layout-editor">
				{{editor system.Execution.AdditionalInfo.value target="system.Execution.AdditionalInfo.value" button=false editable=false}}
			</div><br>
		{{/if}}
	{{/if}}
</div>