<div class="tab results" data-group="primary" data-tab="results">
	<div>
		<div>{{system.ResultDescription.label}}:<br></div>
		{{#if (and isNarrator homebrewFeatures)}}
			<div class="layout-editor">
				{{editor system.ResultDescription.value target="system.ResultDescription.value" button=true editable=true}}
			</div>
		{{else}}
			<div class="layout-editor">
				{{editor system.ResultDescription.value target="system.ResultDescription.value" button=false editable=false}}
			</div>
		{{/if}}
	</div>
	{{#each system.Results}}
		<div class="resource">
			<label class="resource-label">{{this.label}}:</label>
			<input type="{{this.type}}" name="system.Results.{{@key}}.value" value="{{this.value}}"
				data-dtype="{{this.dtype}}" />
		</div>
	{{/each}}
</div>