<form class="actor-sheet {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
		<h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
				placeholder="A Humanoid" /></h1>
	</header>

	<section>
		<h3>Hello Metanthropes!</h3>
		<p>Here is a sample sheet for a humanoid character.</p>
		<p>It is a work in progress, so please be patient.</p>
		<h5> {{system.characteristics.body.stats.power.rollme}} </h5>
		<h5> {{system.characteristics.soul.stats.consciousness.rollme}} </h5>
		<input name="system.characteristics.body.conditions.maimed.value" type="checkbox"
			{{#if system.characteristics.body.conditions.maimed.value}}checked{{/if}} />
		<input name="system.characteristics.soul.stats.consciousness.progressed.value" type="number"
			value="{{system.characteristics.soul.stats.consciousness.progressed.value}}" />
		<input name="system.characteristics.mind.conditions.disconnected.label" type="text"
			value="{{system.characteristics.mind.conditions.disconnected.label}}" />
	</section>
	<section>
		<div class="bigcontainer charstats">
			<h4>test div big container for charstats</h4>
			<div class="mediumcontainer characteristics">Body</div>
			<div class="mediumcontainer characteristics">Mind</div>
			<div class="mediumcontainer characteristics">Soul</div>
		</div>














			<label for="system.characteristics.body.label" class="charlabel"
				data-label="system.characteristics.body.label">{{system.characteristics.body.label}}</label>









	</section>

</form>