<form class="actor-sheet {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
		<h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
				placeholder="A Humanoid" /></h1>
	</header>

	<section class="lbigcontainer">
		<h3>Hello Metanthropes!</h3>
		<p>Here is a sample sheet for a humanoid character.</p>
		<p>It is a work in progress, so please be patient.</p>
		<h5> {{system.characteristics.body.stats.power.rollme}} </h5>
		<h5> {{system.characteristics.soul.stats.consciousness.rollme}} </h5>
		<input name="system.characteristics.body.conditions.maimed.value" type="checkbox"
			{{#if system.characteristics.body.conditions.maimed.value}}checked{{/if}} />
		<input name="system.characteristics.soul.stats.consciousness.progressed.value" type="number"
			value="{{system.characteristics.soul.stats.consciousness.progressed.value}}" />
		<input name="system.characteristics.mind.conditions.disconnected.label" type="text"
			value="{{system.characteristics.mind.conditions.disconnected.label}}" />
	</section>
	<section>
		<div class="lbigcontainer">
			<h4  class="scharstats">test div big container for charstats</h4>
			<div class="metanthropes lmediumcontainer">
				<h5 class="scharacteristics">Body</h5>
			</div>
			<div class="lmediumcontainer">
				<h5 class="scharacteristics">Mind</h5>
			</div>
			<div class="metanthropes lmediumcontainer">
				<h5 class="scharacteristics">Soul</h5>
			</div>
		</div>
<!--			<label for="system.characteristics.body.label" class="charlabel"
				data-label="system.characteristics.body.label">{{system.characteristics.body.label}}</label>
-->
	</section>
</form>