<form class="metanthropes {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		{{#if isNarrator}}
			<img class="possession-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"
				style="border:none" />
		{{else}}
			<img class="possession-img" src="{{item.img}}" data-tooltip="{{item.name}}"
				style="border:none" />
		{{/if}}
		<div class="header-fields">
			<h1 class="charname">
				{{#if isNarrator}}
					<input name="name" type="text" value="{{item.name}}"
						placeholder="Possession Name" />
				{{else}}
					{{item.name}}
				{{/if}}
			</h1>
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label"
						data-tooltip="Which Stat is rolled when Using this Possession"><i class="fa-solid fa-dice-d10"></i>
						Stat:</label>
					{{#if isNarrator}}
						<select name="system.Execution.StatRolled.value">
							{{#each system.Execution.StatRolled.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Execution.StatRolled.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
						<span class="item-statroll style-pos-rolls" data-roll-type="Possession"
							data-item-name="{{item.name}}"
							data-stat="{{item.system.Execution.StatRolled.value}}"
							data-required-perk="{{item.system.RequiredPerk.value}}"
							data-required-perk-level="{{item.system.RequiredPerkLevel.value}}">
							{{item.system.Execution.StatRolled.value}}:
							{{lookup item.actor.system.RollStats item.system.Execution.StatRolled.value}}
						</span>
					{{else}}
						<span class="item-statroll style-pos-rolls" data-roll-type="Possession"
							data-item-name="{{item.name}}"
							data-stat="{{item.system.Execution.StatRolled.value}}"
							data-required-perk="{{item.system.RequiredPerk.value}}"
							data-required-perk-level="{{item.system.RequiredPerkLevel.value}}">
							{{item.system.Execution.StatRolled.value}}:
							{{lookup item.actor.system.RollStats item.system.Execution.StatRolled.value}}
						</span>
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="The Category of the Possession">Category:</label>
					{{#if isNarrator}}
						<select name="system.Category.value">
							{{#each system.Category.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Category.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.Category.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="The Attack Type of the Possession">Attack Type:</label>
					{{#if isNarrator}}
						<select name="system.AttackType.value">
							{{#each system.AttackType.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.AttackType.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.AttackType.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="How many of this Possession you have with you">Quantity:</label>
					{{#if isNarrator}}
						<input type="number" name="system.Quantity.value"
							value="{{system.Quantity.value}}" data-dtype="Number" />
					{{else}}
						{{system.Quantity.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="Which Perk is required to use this Possession"><i class="fa-solid fa-books"></i>
						Perk:</label>
					{{#if isNarrator}}
						<select name="system.RequiredPerk.value">
							{{#each system.RequiredPerk.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.RequiredPerk.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.RequiredPerk.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="What Perk Level is required to use this Possession"><i class="fa-solid fa-books"></i>
						Perk Level:</label>
					{{#if isNarrator}}
						<input type="number" name="system.RequiredPerkLevel.value"
							value="{{system.RequiredPerkLevel.value}}"
							data-dtype="Number" />
					{{else}}
						{{system.RequiredPerkLevel.value}}
					{{/if}}
				</div>
			</div>
		</div>
	</header>
	{{!-- Sheet Tab Navigation --}}
	<div class="layout-container-nav style-container-nav">
		<nav class="style-container-nav-children itemnavselector tabs" data-group="primary">
			<button data-tab="description">Description</button>
			{{#if homebrewFeatures}}
				{{#if isNarrator}}
					<button data-tab="material" data-tooltip="Material Properties">🧱
						Properties</button>
				{{/if}}
			{{/if}}
			<button data-tab="execution">Usage</button>
			<button data-tab="effects">Effects</button>
			{{#if isNarrator}}
				{{#if betaTesting}}
					<button class="item style-cs-labels" data-tab="results">Results</button>
					<button data-tab="audio-visual">Audio/Visual</button>
				{{/if}}
			{{/if}}
		</nav>
	</div>
	{{!-- Sheet Body --}}
	<section class="itemnavtabs">
		{{!-- Description Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-description.hbs"}}
		{{!-- Usage Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-execution.hbs"}}
		{{!-- Material Properties Tab --}}
		<div class="tab material" data-group="primary" data-tab="material">
			{{#each system.Material}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					<input type="{{this.type}}" name="system.Material.{{@key}}.value"
						value="{{this.value}}" data-dtype="{{this.dtype}}" />
				</div>
			{{/each}}
		</div>
		{{!-- Effects Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-effects.hbs"}}
		{{!-- Results Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-results.hbs"}}
		{{!-- Audio/Visual Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-audio-visual.hbs"}}
	</section>
</form>