<form class="metanthropes {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		{{#if isGM}}
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="border:none" />
		{{else}}
			<img class="profile-img" src="{{item.img}}" title="{{item.name}}" style="border:none" />
			{{/if}}
			<div class="header-fields">
				<h1 class="charname"><input name="name" type="text" value="{{item.name}}"
						placeholder="Possession Name" />
				</h1>
				<div class="grid grid-2col">
					<div class="resource">
						<label class="resource-label">🎲:</label>
						<select name="system.StatRolled.value">
							<option value="Awareness" {{#if (eq system.StatRolled.value "Awareness")}}selected{{/if}}>
								Awareness
							</option>
							<option value="Consciousness"
								{{#if (eq system.StatRolled.value "Consciousness")}}selected{{/if}}>Consciousness
							</option>
							<option value="Creativity" {{#if (eq system.StatRolled.value "Creativity")}}selected{{/if}}>
								Creativity
							</option>
							<option value="Endurance" {{#if (eq system.StatRolled.value "Endurance")}}selected{{/if}}>
								Endurance
							</option>
							<option value="Manipulation"
								{{#if (eq system.StatRolled.value "Manipulation")}}selected{{/if}}>
								Manipulation
							</option>
							<option value="Perception" {{#if (eq system.StatRolled.value "Perception")}}selected{{/if}}>
								Perception
							</option>
							<option value="Power" {{#if (eq system.StatRolled.value "Power")}}selected{{/if}}>Power
							</option>
							<option value="Reflexes" {{#if (eq system.StatRolled.value "Reflexes")}}selected{{/if}}>
								Reflexes
							</option>
							<option value="Willpower" {{#if (eq system.StatRolled.value "Willpower")}}selected{{/if}}>
								Willpower
							</option>
						</select>

					</div>
					<div class="resource">
						<label class="resource-label">Category:</label>
						<select name="system.Category.value">
							<option value="Strike" {{#if (eq system.Category.value "Strike")}}selected{{/if}}>Strike
							</option>
							<option value="Weapon" {{#if (eq system.Category.value "Weapon")}}selected{{/if}}>Weapon
							</option>
							<option value="Armor" {{#if (eq system.Category.value "Armor")}}selected{{/if}}>Armor
							</option>
							<option value="Gadget" {{#if (eq system.Category.value "Gadget")}}selected{{/if}}>Gadget
							</option>
							<option value="Drug" {{#if (eq system.Category.value "Drug")}}selected{{/if}}>Drug
							</option>
						</select>

					</div>
					<div class="resource">
						<label class="resource-label">Attack Type:</label>
						<select name="system.AttackType.value">
							<option value="Melee" {{#if (eq system.AttackType.value "Melee")}}selected{{/if}}>Melee
							</option>
							<option value="Projectile" {{#if (eq system.AttackType.value "Projectile")}}selected{{/if}}>
								Projectile
							</option>
							<option value="Firearm" {{#if (eq system.AttackType.value "Firearm")}}selected{{/if}}>
								Firearm
							</option>
						</select>

					</div>
					<div class="resource">
						<label class="resource-label">Quantity:</label>
						<input type="number" name="system.Quantity.value" value="{{system.Quantity.value}}"
							data-dtype="Number" />
					</div>
				</div>
			</div>
	</header>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="material">🧱 Properties</a>
		<a class="item" data-tab="usage">Usage</a>
		<a class="item" data-tab="effects">Effects</a>
		<a class="item" data-tab="results">Results</a>
	</nav>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary" data-tab="description">
			{{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
			<div class="layout-editor">{{system.Description.label}}:<br>
				{{editor system.Description.value target="system.Description.value" rollData=rollData button=true owner=owner editable=editable}}
			</div>
		</div>
		{{!-- Usage Tab --}}
		<div class="tab usage" data-group="primary" data-tab="usage">
			{{!-- As you add new fields, add them in here! --}}
			{{#each system.Usage}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					<input type="{{this.type}}" name="system.Usage.{{@key}}.value" value="{{this.value}}"
						data-dtype="{{this.dtype}}" />
				</div>
			{{/each}}
		</div>
		{{!-- Material Properties Tab --}}
		<div class="tab material" data-group="primary" data-tab="material">
			{{!-- As you add new fields, add them in here! --}}
			{{#each system.Material}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					<input type="{{this.type}}" name="system.Material.{{@key}}.value" value="{{this.value}}"
						data-dtype="{{this.dtype}}" />
				</div>
			{{/each}}
		</div>
		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			<div>
				<div class="layout-editor">{{system.EffectDescription.label}}:<br>
					{{editor system.EffectDescription.value target="system.EffectDescription.value" rollData=rollData button=true owner=owner editable=editable}}
				</div>
			</div>
			{{#each system.Effects}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					<input type="{{this.type}}" name="system.Effects.{{@key}}.value" value="{{this.value}}"
						data-dtype="{{this.dtype}}" />
				</div>
			{{/each}}
		</div>
		{{!-- Results Tab --}}
		<div class="tab results" data-group="primary" data-tab="results">
			<div>
				<div class="layout-editor">{{system.ResultDescription.label}}:<br>
					{{editor system.ResultDescription.value target="system.ResultDescription.value" rollData=rollData button=true owner=owner editable=editable}}
				</div>
			</div>
			{{#each system.Results}}
				<div class="resource">
					<label class="resource-label">{{this.label}}:</label>
					<input type="{{this.type}}" name="system.Results.{{@key}}.value" value="{{this.value}}"
						data-dtype="{{this.dtype}}" />
				</div>
			{{/each}}
		</div>
	</section>
</form>