<form class="metanthropes {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		{{#if isNarrator}}
			<img class="metapower-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}"
				style="border:none" />
		{{else}}
			<img class="metapower-img" src="{{item.img}}" data-tooltip="{{item.name}}"
				style="border:none" />
		{{/if}}
		<div class="header-fields">
			<h1 class="charname">
				{{#if isNarrator}}
					<input name="name" type="text" value="{{item.name}}"
						placeholder="Metapower Name" />
				{{else}}
					{{item.name}}
				{{/if}}
			</h1>
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label"
						data-tooltip="Which Stat is rolled when Activating this Metapower">🎲
						Stat:</label>
					{{#if isNarrator}}
						<select name="system.Execution.StatRolled.value">
							{{#each system.Execution.StatRolled.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Execution.StatRolled.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
						<span class="item-statroll style-mp-rolls" data-roll-type="Metapower"
							data-item-name="{{item.name}}"
							data-stat="{{item.system.Execution.StatRolled.value}}"
							data-destiny-cost="{{item.system.DestinyCost.value}}">
							{{item.system.Execution.StatRolled.value}}:
							{{lookup item.actor.system.RollStats item.system.Execution.StatRolled.value}}
						</span>
					{{else}}
						<span class="item-statroll style-mp-rolls" data-roll-type="Metapower"
							data-item-name="{{item.name}}"
							data-stat="{{item.system.Execution.StatRolled.value}}"
							data-destiny-cost="{{item.system.DestinyCost.value}}">
							{{item.system.Execution.StatRolled.value}}:
							{{lookup item.actor.system.RollStats item.system.Execution.StatRolled.value}}
						</span>
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="Each Classification includes Metapowers which have a similar role and utilize capabilities and functions in a similar manner">🔣
						Classification:</label>
					{{#if isNarrator}}
						<select name="system.Classification.value">
							{{#each system.Classification.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Classification.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.Classification.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label" data-tooltip="The Name of the Ⓜ️ Metapower">Ⓜ️
						Metapower:</label>
					{{#if isNarrator}}
						<input type="text" name="system.MetapowerName.value"
							value="{{system.MetapowerName.value}}" data-dtype="String" />
					{{else}}
						{{system.MetapowerName.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="Energy Type dictates the Damage and other properties of an effect">✨
						Energy
						Type:</label>
					{{#if isNarrator}}
						<select name="system.EnergyType.value">
							{{#each system.EnergyType.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.EnergyType.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.EnergyType.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label" data-tooltip="The Level of the Metapower">⏫
						Level:</label>
					{{#if isNarrator}}
						<select name="system.Level.value">
							{{#each system.Level.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Level.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.Level.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						data-tooltip="The Destiny Cost to Activate this Metapower">🤞 Destiny
						Cost:</label>
					{{#if isNarrator}}
						<input type="number" name="system.DestinyCost.value"
							value="{{system.DestinyCost.value}}" data-dtype="Number" />
					{{else}}
						{{system.DestinyCost.value}}
					{{/if}}
				</div>
			</div>
		</div>
	</header>
	{{!-- Sheet Tab Navigation --}}
	<div class="layout-container-nav style-container-nav">
		<nav class="style-container-nav-children itemnavselector tabs" data-group="primary">
			<button data-tab="description">Description</button>
			<button data-tab="execution">Activation</button>
			<button data-tab="effects">Effects</button>
			{{#if isNarrator}}
				{{#if betaTesting}}
					<button data-tab="results">Results</button>
					<button data-tab="audio-visual">Audio/Visual</button>
				{{/if}}
			{{/if}}
		</nav>
	</div>
	{{!-- Sheet Body --}}
	<section class="itemnavtabs">
		{{!-- Description Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-description.hbs"}}
		{{!-- Activation Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-execution.hbs"}}
		{{!-- Effects Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-effects.hbs"}}
		{{!-- Results Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-results.hbs"}}
		{{!-- Audio/Visual Tab --}}
		{{> "systems/metanthropes/templates/helpers/item-audio-visual.hbs"}}
	</section>
</form>