<form class="metanthropes {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		{{#if isGM}}
			<img class="metapower-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" style="border:none" />
		{{else}}
			<img class="metapower-img" src="{{item.img}}" title="{{item.name}}" style="border:none" />
		{{/if}}
		<div class="header-fields">
			<h1 class="charname">
				{{#if isGM}}
					<input name="name" type="text" value="{{item.name}}" placeholder="Metapower Name" />
				{{else}}
					{{item.name}}
				{{/if}}
			</h1>
			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label" title="Which Stat is rolled when Activating this Metapower.">🎲
						Stat:</label>
					{{#if isGM}}
						<select name="system.Execution.StatRolled.value">
							{{#each system.Execution.StatRolled.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Execution.StatRolled.value)}}selected{{/if}}>{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						<span class="item-statroll style-mp-rolls" data-roll-type="Metapower"
							data-item-name="{{item.name}}" data-stat="{{item.system.Execution.StatRolled.value}}"
							data-destiny-cost="{{item.system.DestinyCost.value}}">
							{{item.system.Execution.StatRolled.value}}: 
							{{lookup ../system.RollStats item.system.Execution.StatRolled.value}}
						</span>
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						title="Each Classification includes Metapowers which have a similar role and utilize capabilities and functions in a similar manner.">🔣
						Classification:</label>
					{{#if isGM}}
						<select name="system.Classification.value">
							{{#each system.Classification.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.Classification.value)}}selected{{/if}}>{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.Classification.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label" title="The Name of the Ⓜ️ Metapower">Ⓜ️ Metapower:</label>
					{{#if isGM}}
						<input type="text" name="system.MetapowerName.value" value="{{system.MetapowerName.value}}"
							data-dtype="String" />
					{{else}}
						{{system.MetapowerName.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label"
						title="Energy Type dictates the Damage and other properties of an effect.">✨ Energy
						Type:</label>
					{{#if isGM}}
						<select name="system.EnergyType.value">
							{{#each system.EnergyType.options as |option|}}
								<option value="{{option}}"
									{{#if (eq option ../system.EnergyType.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.EnergyType.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label" title="The Level of the Metapower">⏫ Level:</label>
					{{#if isGM}}
						<select name="system.Level.value">
							{{#each system.Level.options as |option|}}
								<option value="{{option}}" {{#if (eq option ../system.Level.value)}}selected{{/if}}>
									{{option}}
								</option>
							{{/each}}
						</select>
					{{else}}
						{{system.Level.value}}
					{{/if}}
				</div>
				<div class="resource">
					<label class="resource-label" title="The Destiny Cost to Activate this Metapower">🤞 Destiny
						Cost:</label>
					{{#if isGM}}
						<input type="number" name="system.DestinyCost.value" value="{{system.DestinyCost.value}}"
							data-dtype="Number" />
					{{else}}
						{{system.DestinyCost.value}}
					{{/if}}
				</div>
			</div>
		</div>
	</header>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="activation">Activation</a>
		<a class="item" data-tab="effects">Effects</a>
		{{#if isGM}}
			<a class="item" data-tab="results">Results</a>
		{{/if}}
	</nav>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary" data-tab="description">
			<div>{{system.Description.label}}:<br></div>
			{{#if isGM}}
				<div class="layout-editor">
					{{editor system.Description.value target="system.Description.value" button=true editable=true}}
				</div>
			{{else}}
				<div class="layout-editor">
					{{editor system.Description.value target="system.Description.value" button=false editable=false}}
				</div>
			{{/if}}
		</div>
		{{!-- Activation Tab --}}
		<div class="tab activation" data-group="primary" data-tab="activation">
			{{#each system.Execution}}
				{{#unless (or (eq @key "StatRolled") (eq @key "AdditionalInfo"))}}
					<div class="resource">
						<label class="resource-label">{{this.label}}:</label>
						{{#if this.options}}
							{{#if ../isGM}}
								<select name="system.Execution.{{@key}}.value">
									{{#each this.options as |option|}}
										<option value="{{option}}" {{#if (eq option ../this.value)}}selected{{/if}}>
											{{option}}
										</option>
									{{/each}}
								</select>
							{{else}}
								{{this.value}}
							{{/if}}
						{{else if this.selections}}
							{{#if ../isGM}}
								<select multiple name="system.Execution.{{@key}}.value">
									{{selectOptions this.selections selected=this.value}}
								</select>
							{{/if}}
							<span class="selected-values">
								{{!-- Display the selected values here --}}
								{{this.value}}
							</span>
						{{else}}
							<div>
								<input type="{{this.type}}" name="system.Execution.{{@key}}.value"
									value="{{this.value}}" data-dtype="{{this.dtype}}" />
							</div>
						{{/if}}
					</div><br>
				{{/unless}}
			{{/each}}
			<div><label class="resource-label">{{system.Execution.AdditionalInfo.label}}:</label></div>
			{{#if isGM}}
				<div class="layout-editor">
					{{editor system.Execution.AdditionalInfo.value target="system.Execution.AdditionalInfo.value" button=true editable=true}}
				</div>
			{{else}}
				<div class="layout-editor">
					{{editor system.Execution.AdditionalInfo.value target="system.Execution.AdditionalInfo.value" button=false editable=false}}
				</div>
			{{/if}}
		</div>

		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			<div>{{system.Effects.EffectDescription.label}}:<br></div>
			{{#if isGM}}
				<div class="layout-editor">
					{{editor system.Effects.EffectDescription.value target="system.Effects.EffectDescription.value" button=true editable=true}}
				</div>
			{{else}}
				<div class="layout-editor">
					{{editor system.Effects.EffectDescription.value target="system.Effects.EffectDescription.value" button=false editable=false}}
				</div>
			{{/if}}
			{{#each system.Effects}}
				{{#unless (or 
				(eq @key "EffectDescription")
				(eq @key "AdditionalInfo")
				(eq @key "Conditions")
				(eq @key "Buffs")
				(eq @key "Damage")
				(eq @key "Healing")
				(eq @key "Special")
				)}}
					<div class="resource">
						<label class="resource-label">{{this.label}}:</label>
						{{#if this.options}}
							<select name="system.Effects.{{@key}}.value">
								{{#each this.options as |option|}}
									<option value="{{option}}" {{#if (eq option ../this.value)}}selected{{/if}}>
										{{option}}
									</option>
								{{/each}}
							</select>
						{{else}}
							<input type="{{this.type}}" name="system.Effects.{{@key}}.value" value="{{this.value}}"
								data-dtype="{{this.dtype}}" />
						{{/if}}
					</div>
				{{/unless}}
			{{/each}}
			<div><label class="resource-label">{{system.Effects.AdditionalInfo.label}}:</label></div>
			{{#if isGM}}
				<div class="layout-editor">
					{{editor system.Effects.AdditionalInfo.value target="system.Effects.AdditionalInfo.value" button=true editable=true}}
				</div>
			{{else}}
				<div class="layout-editor">
					{{editor system.Effects.AdditionalInfo.value target="system.Effects.AdditionalInfo.value" button=false editable=false}}
				</div>
			{{/if}}
		</div>
	</section>
</form>